framework: netcoreapp2.2
storage: none

source https://api.nuget.org/v3/index.json
nuget FSharp.Core

git ssh://git@bitbucket.lmc.cz:7999/archi/nuget-server.git master Packages: /nuget/
# LMC Nuget dependencies:

group Tests
    storage: none
    source https://api.nuget.org/v3/index.json
    nuget Expecto
    nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
